# MongoDB Configuration
MONGODB_URL=mongodb+srv://satishchandala834_db_user:0MivD44lzk3kCcqk@cluster0.izh4its.mongodb.net/
DATABASE_NAME=pitch_insight

# Security Configuration
# IMPORTANT: Change this secret key in production!
# Generate a secure key using: python -c "import secrets; print(secrets.token_urlsafe(32))"
SECRET_KEY=your-secret-key-change-this-in-production-123456789

# JWT Token Configuration
ACCESS_TOKEN_EXPIRE_MINUTES=1008rzp_test_RwZJe3KOgTNbo60  # 7 days (60 * 24 * 7)

# Weather API Configuration
# Get your free API key from: https://openweathermap.org/api
WEATHER_API_KEY=b2ad62736cbd4e52aaa133601252712

# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=False

# CORS Configuration (comma-separated origins)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,https://pitch-insight-frontend.vercel.app/

# Gemini AI Configuration
# Get your API key from: https://makersuite.google.com/app/apikey
GEMINI_API_KEY=AIzaSyDOnBpIiOt-eNSqlsO3HhlQdyo1sdoTf8A

RAZORPAY_KEY_ID = rzp_test_RwZJe3KOgTNbo6
RAZORPAY_KEY_SECRET = dV0pnEvxDeLKU6mndB7aFeYv